.container{
    margin: 0 100px 0 100px;
}
h2, h3{
    margin: 0;
}
.btn-success{
    width: 180px;
    margin: 0 0 0 10px;
}

.addTask{
    padding: 10px 0 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
}