<div class="home">
  <div class="card" style="width: 300px;">
    <img src="../assets/images/imageHW12.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Angular list of prohibited word</h6>
      <a [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active" class="btn btn-success">details</a>
    </div>
  </div>

  <div class="card" style="width: 300px;">
    <img src="../assets/images/imageHW13.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Angular user list</h6>
      <a [routerLink]="[ '/works/userlist' ]" routerLinkActive="active" class="btn btn-success">details</a>
    </div>
  </div>

  <div class="card" style="width: 300px;">
    <img src="../assets/images/imageHW14.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Angular task list</h6>
      <a [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active"  class="btn btn-success">details</a>
    </div>
  </div>

  <div class="card" style="width: 300px;">
    <img src="../assets/images/imageHW15.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Angular phone book</h6>
      <a [routerLink]="[ '/works/phonebook' ]" routerLinkActive="active" class="btn btn-success">details</a>
    </div>
  </div>
</div>
