.home{
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.btn-success{
    width: 100%;
}
.card-title{
    color: red;
    text-align: center;
}