.nav-tabs{
    margin: 10px;
   
}
.p-nav{
    margin: 8px 10px 0;
}
.back-home{
    margin: 8px 10px 0;
    position: absolute;
    right: 0;
    border: 0px solid #000;
    color:  red;
    background-color: white;
}